.container{
    background-color: plum;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 30px 30px 20px grey;
    position: fixed;
    left: 500px;
}
p{
    position: relative;
    top: 800px;
}